#logo {
  margin-top: 33px;
  text-align: center;
  font-size: 2rem;
  font-weight: 1000;
  font-family: 'Open Sans', sans-serif;
}
/*{ 인스타 바로가기 img }*/
#insta_img {
  position: absolute;
  top: -90%;
  left: 0;
  width: 25px;
  height: 25px;
}
